<%- include("./partials/header") %> <%- include("./partials/navbar") %>
<div class="container-fluid mt-5">
	<div class="row">
		<div class="col-md-10 col-12 mx-auto">
			<div class="row">
				<div class="col-md-6 col-12 hero-text order-md-0 order-1 top-padding">
					<h1>Welcome to</h1>
					<h1>The Shopper's Stop</h1>
					<p>
						<span class="bold-style">
							Click the following button to check in/out</span
						>
					</p>
					<a href="about">
						<button class="btn-style btn-primary">Check In/Out</button>
					</a>
				</div>
				<div class="col-md-6 col-12 order-md-1 order-0">
					<figure>
						<img src="images/img-topright.svg" alt="" />
					</figure>
				</div>
			</div>
		</div>
	</div>
</div>
